* {
    box-sizing: border-box /* padding og border  gildi leggjast inní heildarbreidd * allra*/
}
body {
    max-width: 60em; /*960px ~ 1080px - fartölvuskjar */
    margin: 1em auto;
}
/* -- Grif Area -- */
.virkur {
    font-weight: bold;
}
.haus {
    text-align: center;
    grid-area: haus;
}
.topnav {
    grid-area: topnav;
}
.content {
    grid-area: content;
}
.foot{
    grid-area: foot;
    display: grid;
    grid-template-columns: repeat(4, 25%)
}
/*-- Fonts --*/
p {
    font-family: 'Quicksand', sans-serif;
}
h1,h2,h3 {
    font-family: 'Ubuntu', sans-serif;
}
/*-- dálkar í main --*/
.as1 {
    grid-area: as1;
}
.as2 {
    grid-area: as2;
}
.art1 {
    grid-area: art1;
}
/*-- Template Area --*/
.container {
    display: grid;
    grid-template-areas:
        "topnav"
        "haus"
        "content"
        "foot"
}
.content {
    display: grid;
    grid-gap: 1em;
    grid-template-areas: 
        "art1 art1 as2"
        "as1 as1 as2";
    grid-template-columns: 1fr 3fr 1fr;

}
/*-- Top menue --*/
.topmenu {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    margin: 0;
    padding-left: 0;
    }
.topmenu li {
    list-style-type: none;
        
}
/*-- Color --*/
body {
 background-color: #1B1464;  
}
.container {
 color: #FFFFFF;
}
.haus{
    background-color: #1B1464;
    color: #FFF;
}
.content {
    background-color: #0652DD;
    color: #fff
}
.topnav,.foot * ,.topmenu a {
color: #FFFFFF;
}
.foot {
    border-top: 2px #fff double;
    background: #0652DD;
}
.as1 {
    border-top: 1px #fff double;
}
.as2 {
    border-left: 1px #fff double;
}
.art1,.as1,.as2 {
    padding: 1em;
}