* {
    box-sizing: border-box;
    height: auto;
    max-width: 100%;
}

body {
    margin: 0; /* tek út sjálgefið 10px margin */
    /* font-family: ;*/
    font: 400 1em/1.5 'Lobster Two', cursive; /* samsett skipun: weight/height, size, family */
    background-color:#192a56;
}
h1 {
    font-weight: 300;
    font-size: 2.5em;
}
.headcolor ,.footcolor ,.copy {
    color:#f0932b
} 
.topnav a, .footnav a {
    color:#ffeaa7;
    text-decoration: none;
}
.topnav {
    padding: 1.5em ;
}
img{
    max-width:100%;
    height: auto;
}
.topnav a:hover, .footnav a:hover {
    color:#45aaf2;
    text-decoration: none;
}
.footnav {
    padding: 0;
}
.footnav li {
list-style-type: none;
line-height: 2;
}
.topnav a{
    padding-left:2em;
}
.headcolor p{
    text-align: right;  
}
.topnav {
    margin-top: 3em;
}
.marginbottom{
    margin: 0.5em 0 -1em 0 
}
.bgcolor {
    background-color: #273c75;
    color:#f5f6fa ;
    padding: 1em;
}
.container {
    max-width: 60em; /*960px = fartölvur*/
    margin: 0 auto; /* top+bottom og left+right */
    padding: 0;
}
/* grid */
.col-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.col-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.gap-4 {
    grid-gap: 4em
}
.copy {
    text-align: center;
}