* {
    box-sizing: border-box /* padding og border  gildi leggjast inní heildarbreidd * allra*/
}
body {
    max-width: 60em; /*960px ~ 1080px - fartölvuskjar */
    margin: 0em auto;
}
.virkur {
    font-weight: bold;
}
/*-- Color --*/
body {
   background-color: #F0F0F0;
}
.container {
 background-color:#FF5D0D;
}
.content {
    color: #470619;
    background-color: #FFB428;
}
.haus{
    color: #FF5D0D;
    background-color: #AD1A15;
}
.topnav,.foot * ,.topmenu a {
color: #00FFFF;
}
/* -- Grif Area -- */

.haus {
    text-align: center;
    grid-area: haus;
}
.topnav {
    grid-area: topnav;
}
.content {
    grid-area: content;
}
.foot{
    grid-area: foot;
    display: grid;
    grid-template-columns: repeat(4, 25%)
}
/*-- Fonts--*/
p {
    font-family: 'Roboto Slab', serif;
}
h1,h2,h3 {
    font-family: 'Roboto Condensed', sans-serif;
}
/*-- dálkar í main --*/
.as1 {
    grid-area: as1;
}
.as2 {
    grid-area: as2;
}
.art1 {
    grid-area: art1;
}
/*-- Template Area --*/
.container {
    display: grid;
    grid-template-areas:
        "haus"
        "topnav"
        "foot"
        "content"
}
.content {
    display: grid;
    grid-gap: 1em;
    grid-template-areas: 
        "as1 art1 art1"
        "as2 as2  as2";
    grid-template-columns: 1fr 3fr 1fr;

}
/*-- Top menue --*/
.topmenu {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    margin: 0;
    padding-left: 0;
    
}
.topmenu li {
    list-style-type: none; 
}
.topmenu,.foot {
    border-left: 1px #FF5D0D solid;
    border-right:1px #FF5D0D solid;
}
.topmenu {
    border-top:1px #FF5D0D solid;
}
.foot {
    border-bottom:1px #FF5D0D solid;
}
.art1 {
    border-left: #FF5D0D solid;
    border-bottom: #FF5D0D solid;
}
.art1,.as1,.as2 {
    padding: 1em;
}