body {
    font-family: Arial, Helvetica, sans-serif;
    width: 50em;
    border : 2px solid blue;
    margin: 1em auto;
    padding: 1em;
}
h1 {
    color: darkred;
}
.blue {
    color: blue;
    text-align: center;
}
.black {
    color: black
}
.red {
    color: red;
}
.blue2 {
    color: blue;
}
.green {
    color: green;
}
.red2 {
    color: red;
    text-align: center;
}